<!-- Support bound to async functions: https://caniuse.com/mdn-javascript_operators_await -->
<script type="module" onerror="console.log('Script loading errored', window.error)">
  ((async function () {
    const module = await import("{{scriptUrl}}");
    console.log('Imported', module)

    // Service code goes here and can access `module`,
    // it may want to pass it to its own `init` function:
    // ```
    // serviceInit(module)
    // ```
    // or expose it to window
    // ```
    // window.module = module
    // ```
  }))()
</script>
