<!-- Support bound to async functions: https://caniuse.com/mdn-javascript_operators_await -->
<script type="module" onerror="console.log('Script loading errored', event)">
  console.log('Before dynamic import')

  ((async function () {
    try {
      const module = await import("{{scriptUrl}}");
      console.log('Imported', module)

      // Service code goes here and can access `module`,
      // it may want to pass it to its own `init` function:
      // ```
      // serviceInit(module)
      // ```
      // or expose it to window
      // ```
      // window.module = module
      // ```
    } catch (e) {
      console.log('Error caught', e);
      // Code that doesn't depend on the import would go here
    }
  }))()

  console.log('After dynamic import')
</script>
