{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      How JavaScript loading breaks?
    </h1>
    <p class="govuk-body-l">
      This page explores how JavaScript breakages affects other scripts and/or bundled pieces of code,
      logging what ran alongside breaking code in the console.
    <p>
    <p>
      The page contains <a href="https://github.com/romaricpascal/how-javascript-breaks/blob/main/app/views/index.html#L188-L202">a series of <code>&lt;script&gt;</code> tags with a variety of attributes</a>
      that are surrounding <a href="https://github.com/romaricpascal/how-javascript-breaks/tree/main/app/views/loading-methods">your selection of method for loading the potentially problematic script.</a>
      This allows to not only visualise the different timings, but see if any adjacent script would be impacted by an error.
    </p>
    <p>
      The potentially problematic script is made of your <a href="https://github.com/romaricpascal/how-javascript-breaks/tree/main/app/assets/javascripts">selection of breakage</a>,
      <a href="https://github.com/romaricpascal/how-javascript-breaks/blob/main/app/views/script.html">wrapped in a script with various logging statements</a> to identify what still gets to run despite the breakage.
    </p>
    <p>
      So pick a way to break, a way to load, open your devtools and have a look!
    </p>
    <h2 class="govuk-heading-l">Interact with the page</h2>
    <p>Some of the scripts will only break when interacting. Click on the button thereafter to trigger such breakage.</p>

    {{ govukButton({
      text: "Simulate interaction",
      type: "button",
      classes: "govuk-button--secondary js-interact-with-me"
    }) }}
    <script>
      // Track when various load-related events get run with respect to scripts loading
      // Most times, they'll run after scripts load, but may run at different times (async, defer...)
      window.addEventListener('DOMContentLoaded', console.log)
      window.addEventListener('load', console.log)
      window.addEventListener('pageshow', console.log)
      // Get some feedback from button interaction
      document.querySelector('.js-interact-with-me').addEventListener('click', function() {
        console.log('Interacted with button')
      })
    </script>
    <h2 class="govuk-heading-l">Configure scenario</h2>
    <form>
      {{ govukRadios({
        name: "script",
        value: script,
        fieldset: {
          legend: {
            text: "How should the script break?",
            classes: "govuk-!-font-size-27"
          }
        },
        items: [
          {
            value: "no-error",
            text: "It does not break"
          },
          {
            value: "loading-error",
            text: "Loading error"
          },
          {
            value: "unparsable",
            text: "Unparsable syntax"
          },
          {
            value: "non-existing-api-initial",
            text: "Non-existing API (initial execution)"
          },
          {
            value: "non-existing-api-interaction",
            text: "Non-existing API (upon interaction)"
          },
          {
            divider: "In older browsers (Safari 10.x, for example)"
          },
          {
            value: "spread",
            text: "Spread operator"
          },
          {
            value: "async-await",
            text: "Async/Await"
          }
        ]
      }) }}
      {{ govukRadios({
        name: "loading_method",
        value: loadingMethod,
        fieldset: {
          legend: {
            text: "How should the script be loaded?",
            classes: "govuk-!-font-size-27"
          }
        },
        items: [
          {
            divider: "Static loading"
          },
          {
            value: "script-tag",
            html: "Script tag",
            hint: {
              html: "<code>&lt;script src=\"&lt;SCRIPT_URL&gt;\"&gt;</code>"
            }
          },
          {
            value: "script-type-module",
            html: "Module script tag",
            hint: {
              html: "<code>&lt;script type=\"module\" src=\"&lt;SCRIPT_URL&gt;\"&gt;</code>"
            }
          },
          {
            value: "synchronous-import",
            html: "Synchronous import",
            hint: {
              html: "<code>import \"&lt;SCRIPT_URL&gt;\"</code>"
            }
          },
          {
            value: "synchronous-named-import",
            html: "Synchronous import",
            hint: {
              html: "<code>import * as imported from (\"&lt;SCRIPT_URL&gt;\")</code>"
            }
          },
          {
            divider: "Dynamic loading"
          },
          {
            value: "document-create-el",
            html: "Append <code>&lt;script&gt;</code> tag",
            hint: {
              html: "<pre><code>var s = document.createElement('script');\ns.src=\"&lt;SCRIPT_URL&gt;\";\ndocument.body.appendChild(s)</code></pre>"
            }
          },
          {
            value: "async-import-promise",
            html: "Asynchronous import – Promise",
            hint: {
              html: "<pre><code>import(\"&lt;SCRIPT_URL&gt;\")\n.then(...)</code></pre>"
            }
          },
          {
            value: "async-import-iife",
            html: "Asynchronous import – IIFE await",
            hint: {
              html: "<pre><code>(async function() {\n await import(\"&lt;SCRIPT_URL&gt;\")\n })()</code></pre>"
            }
          },
          {
            value: "async-import-promise",
            html: "Asynchronous import – Top level await",
            hint: {
              html: "<code>await import(\"&lt;SCRIPT_URL&gt;\")</code>"
            }
          },
          {
            divider: "Protected dynamic loading"
          },
          {
            value: "protected-async-import",
            html: "Asynchronous import – <code>if</code>",
            hint: {
              html: "<pre><code>(async function() {\n if (canExecute) {\n  await import(\"&lt;SCRIPT_URL&gt;\")\n }\n})()</code></pre>"
            }
          },
          {
            value: "try-async-import",
            html: "Asynchronous import - <code>try/catch</code>",
            hint:{
              html: "<pre><code>(async function() {\n try {\n  await import(\"&lt;SCRIPT_URL&gt;\")\n } catch (e) { }\n})()</code></pre>"
            }
          }
        ]
      }) }}
      {{ govukInput({
        name: 'delay',
        value: delay,
        label: {
          text: "How many milliseconds should the server delay the response by?",
          classes: "govuk-!-font-size-27"
        },
        classes: "govuk-input--width-5",
        suffix: {
          text: "ms"
        }
      }) }}

      {{ govukButton({
        text: "Load JavaScript"
      }) }}
    </form>

    <script data-position="before" src="/public/javascripts/log-execution.js"></script>
    <script async data-position="before" src="/public/javascripts/log-execution.js"></script>
    <script data-position="before" defer src="/public/javascripts/log-execution.js"></script>
    <script type="module">
      console.log('before', ':', 'module script ran')
    </script>
  
    {% include loadingPartial %}

    <script data-position="after" src="/public/javascripts/log-execution.js"></script>
    <script async data-position="after" src="/public/javascripts/log-execution.js"></script>
    <script data-position="after" defer src="/public/javascripts/log-execution.js"></script>
    <script type="module">
      console.log('after',':', 'module script ran')
    </script>
  </div>
</div>

{% endblock %}
